<header class="site-header
               w-100 position-fixed fixed-top fixed-left d-none" role="banner">
    <div class="site-header-inner
                container container-wide
                h-100 d-flex align-items-center justify-content-center">
        <div class="site-header-logo
                    w-20 d-inline position-relative">
            <a href="#" class="d-inline-block">
                <img class="d-inline-block" src="img/logo-header.svg" alt="COSMOS" />
                <p class="h4 Geogrotesque-Rg
                          d-inline-block ml-3">GRAKN COSMOS</p>
            </a>
        </div>

        <button class="hamburger hamburger--collapse
                       float-right d-none" type="button">
            <span class="hamburger-box">
                <span class="hamburger-inner"></span>
            </span>
        </button>

        <nav class="site-header-nav
                    w-60 d-flex align-items-center justify-content-center" role="navigation">
            <ul class="text-center Geogrotesque-Rg
                       d-flex align-items-center justify-content-center">
                <a href="{{url-prefix}}#intro" data-scroll-to="intro"><li class="h6">About</li></a>
                <a href="{{url-prefix}}#motives" data-scroll-to="motives"><li class="h6">Experience</li></a>
                <a href="{{url-prefix}}#speakers" data-scroll-to="speakers"><li class="h6">Speakers</li></a>
                <a href="{{url-prefix}}#apply" data-scroll-to="apply"><li class="h6">Apply</li></a>
                <a href="{{url-prefix}}#venue" data-scroll-to="venue"><li class="h6">Venue</li></a>
                <a href="{{url-prefix}}#sponsors" data-scroll-to="sponsors"><li class="h6">Sponsors</li></a>
            </ul>
            <div id="eventbrite-widget-modal-trigger-58504110369" class="button d-none">
                Get Tickets
            </div>
        </nav>

        <div class="site-header-action
                    w-20 d-flex align-items-baseline justify-content-end">
            <div id="eventbrite-widget-modal-trigger-58504110369" class="button h6">
                Get Tickets
            </div>
        </div>
    </div>
</header>