<header class="site-header
               w-100 position-fixed fixed-top fixed-left d-none" role="banner">
    <div class="site-header-inner
                container container-wide
                h-100 d-flex align-items-center justify-content-center">
        <div class="site-header-logo
                    d-inline position-relative" style="width: 35%">
            <a href="./index.html" class="d-inline-block">
                <img class="logo-cosmos d-inline-block" src="img/logo-header.svg" alt="COSMOS" />
                <img class="logo-type-cosmos d-inline-block ml-2" src="img/logo-type-cosmos.svg" alt="COSMOS" width="216" />
            </a>
        </div>

        <button class="hamburger hamburger--collapse
                       float-right d-none" type="button">
            <span class="hamburger-box">
                <span class="hamburger-inner"></span>
            </span>
        </button>

        <nav class="site-header-nav
                    align-items-center justify-content-center" style="width: 65%;" role="navigation">
            <ul class="text-center Titillium-Rg
                       d-flex align-items-center justify-content-between mx-0 my-auto">
                <a href="{{url-prefix}}#intro" data-scroll-to="intro"><li class="h6">About</li></a>
                <a href="{{url-prefix}}#motives" data-scroll-to="motives"><li class="h6">Experience</li></a>
                <a href="{{url-prefix}}#speakers" data-scroll-to="speakers"><li class="h6">Speakers</li></a>
                <a href="{{url-prefix}}#apply" data-scroll-to="apply"><li class="h6">Apply</li></a>
                <a href="{{url-prefix}}#venue" data-scroll-to="venue"><li class="h6">Venue</li></a>
                <a href="{{url-prefix}}#sponsors" data-scroll-to="sponsors"><li class="h6">Sponsors</li></a>
                <div id="eventbrite-widget-modal-trigger-58504110369" class="button h6" style="width: 120px;">
                    Get Tickets
                </div>
            </ul>
            <div id="eventbrite-widget-modal-trigger-58504110369" class="button d-none">
                Get Tickets
            </div>
        </nav>

        {{!-- <div class="site-header-action
                    w-25 d-flex align-items-baseline justify-content-end">
            <div id="eventbrite-widget-modal-trigger-58504110369" class="button h6" style="width: 120px;">
                Get Tickets
            </div>
        </div> --}}
    </div>
</header>